<%= render 'partials/navbar' %>
<div class="update-trial-container container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="pending-header">Update Trial #<%= @trial.id %></h3>
        </div>
        <div class="panel-body">
          <%= form_for @trial, url: trial_path, method: "put" do |f| %>
            <%= f.label "Non-Small Cell Lung Cancer (Adenocarcinoma)" %>
            <%= check_box(@trial, "type_lung_nsclc_adeno", options={}, checked_value="include", unchecked_value=nil) %>
            <%= f.label "Cancer Type" %>
            <%= select_tag :cancerType, options_for_select(["(Please select type)",
               "Non-Small Cell Lung Cancer (Adenocarcinoma)",
                "Non-Small Cell Lung Cancer (Large Cell)",
                 "Non-Small Cell Lung Cancer (Squamous)",
                  "Small Cell Lung Cancer",
                   "Colorectal Cancer (Adenocarcinoma)",
                    "Colorectal Cancer (Other types)"], selected: parse_cancer_type(@trial)), required:"", autofocus:"", class:"form-control", name: "trial[cancerType]" %>
              <%= f.label "Cancer Stage" %>
              <%= select_tag :cancerStage, options_for_select(["(Please select stage)", "Stage I", "Stage II", "Stage III", "Stage IV"], selected: parse_cancer_stage(@trial)), required:"", class:"form-control", name: "trial[cancerStage]" %>
            <div>
              <%= f.submit "Approve Trial", class:"form-control" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    </div>
  </div>
</div>
