<%= render 'partials/navbar' %>
<div class="update-trial-container container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="pending-header">Update Trial #<%= @trial.id %></h3>
        </div>
        <div class="panel-body">
          <%= form_for :trial, url: trials_path, method: "put" do |f| %>
            <%= f.select_tag :cancerType, options_for_select(["(Please select type)", "Non-Small Cell Lung Cancer (Adenocarcinoma)", "Non-Small Cell Lung Cancer (Large Cell)", "Non-Small Cell Lung Cancer (Squamous)", "Small Cell Lung Cancer", "Colorectal Cancer (Adenocarcinoma)", "Colorectal Cancer (Other types)"]), value: "#{parse_cancer_type(@trial)}" , required:"", autofocus:"", class:"form-control" %>
            <!-- <%= f.password_field :password, placeholder: "Password", class:"form-control login-password", required:"" %> -->
            <div>
              <!-- <%= f.submit "Log In", class:"btn btn-lg btn-primary btn-block" %> -->
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    </div>
  </div>
</div>
